ion-card {
  margin: auto;  /* Centrar horizontalmente */
  max-width: 400px;  /* Ajusta según tus necesidades */
  text-align: center;  /* Centrar texto */
}

ion-card-header {
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

ion-title {
  font-size: 35px;  /* Tamaño de fuente grande */
  font-weight: bold;
}

ion-card-title {
  font-size: 24px;  /* Tamaño de fuente grande */
  font-weight: bold;
}



ion-card-subtitle {
  font-size: 20px;  /* Tamaño de fuente mediano */
  color: #8c8c8c;
}

ion-buttons {
  padding: 16px;
  text-align: center;
}

ion-button {
  background-color: #3880ff;
  color: white;
  padding: 14px;  /* Ajusta según tus necesidades */
  border-radius: 5px;
  font-size: 30px;
}

.large-text {
  font-size: 28px;  /* Tamaño de fuente más grande */
}

.medium-text {
  font-size: 24px;  /* Tamaño de fuente mediano */
}
