<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="large-text">Cristian Chavez</ion-card-title>
      <ion-card-subtitle class="medium-text">{{ carnet }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Contenido adicional si es necesario -->
    </ion-card-content>

    <ion-buttons>
      <ion-button (click)="cargarPaises()">Cargar</ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>
